<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>StorySphere: <%= locals.title %></title>
</head>
<body class="bg-neutral-50 text-neutral-700">
  <div class="px-4 xl:px-80 w-full flex flex-col relative gap-4">
    <nav class="w-full py-4 bg-neutral-50 flex flex-row justify-between items-center sticky top-0">
      <a href="/" class="text-2xl font-bold"><span class="text-transparent bg-clip-text bg-gradient-to-tr from-lime-500 to-emerald-500">Story</span>Sphere</a>
      <ul class="flex flex-row gap-4 items-center">
        <a href="/spheres" class="hover:underline">All Spheres</a>
        <a href="/spheres/createNew" class="hover:underline">New Sphere</a>
      </ul>
    </nav>
    <div class="flex items-center justify-center">
      <div class="w-full lg:w-96 h-full">
        <div class="flex flex-col gap-2">
          <h1 class="text-xl font-bold text-lime-500">Post your story in <%= locals.sphere?.name %></h1>
        </div>
        <form action="" method="POST" class="flex flex-col gap-4">
          <div class="flex flex-col gap-1">
            <label for="title" aria-required="true">Story title: <span class="text-red-500 text-sm">*</span></label>
            <input class="p-1 border border-solid border-neutral-300 rounded-md outline-none focus:ring-2 ring-lime-500 ring-offset-1 transition-all" type="text" id="title" name="title" required value="<%= locals.newStory?.title ? locals.newStory.title : undefined %>">
            <% if (locals.errors) { %>
              <% for (let i = 0; i < locals.errors.length; i++) { %>
                <% if (locals.errors[i].path === "title") { %>
                  <p class="text-red-500"><%= errors[i].msg %></p>
                <% } %>
              <% } %>
            <% } %>
          </div>
          <div class="flex flex-col gap-1">
            <label for="story" aria-required="true">Your story: <span class="text-red-500 text-sm">*</span></label>
            <textarea class="p-1 border resize-none h-40 border-solid border-neutral-300 rounded-md outline-none focus:ring-2 ring-lime-500 ring-offset-1 transition-all" type="text" id="story" name="story" required></textarea>
            <% if (locals.errors) { %>
              <% for (let i = 0; i < locals.errors.length; i++) { %>
                <% if (locals.errors[i].path === "story") { %>
                  <p class="text-red-500"><%= errors[i].msg %></p>
                <% } %>
              <% } %>
            <% } %>
          </div>
          <button type="submit" class="p-2 shadow-sm bg-gradient-to-tr from-lime-500 to-emerald-500 text-white font-bold rounded-md hover:shadow-lg transition-all outline-none focus:ring-2 ring-lime-500 ring-offset-1">Submit your story</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>