<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>StorySphere: <%= locals.title %></title>
</head>
<body class="bg-neutral-50 text-neutral-700">
  <div class="px-4 xl:px-80 w-full flex flex-col relative gap-4">
    <nav class="w-full py-4 bg-neutral-50 flex flex-row justify-between items-center sticky top-0">
      <a href="/" class="text-2xl font-bold"><span class="text-transparent bg-clip-text bg-gradient-to-tr from-lime-500 to-emerald-500">Story</span>Sphere</a>
      <ul class="flex flex-row gap-4 items-center">
        <a href="/spheres" class="hover:underline">All Spheres</a>
        <a href="/spheres/createNew" class="hover:underline">New Sphere</a>
      </ul>
    </nav>
    <div class="flex flex-row items-center justify-between">
      <h1 class="text-2xl font-semibold"><%= locals.sphere.name %></h1>
      <% if (locals.sphere.members.includes(locals.currentUser._id)) { %>
        <a class="p-2 rounded-md shadow-sm bg-gradient-to-tr from-lime-500 to-emerald-500 text-white font-semibold hover:shadow-md transition-all" href="/spheres/<%= locals.sphere._id %>/createNew">Post your story</a>
      <% } else { %>
        <a class="p-2 rounded-md shadow-sm bg-gradient-to-tr from-lime-500 to-emerald-500 text-white font-semibold hover:shadow-md transition-all" href="/spheres/<%= locals.sphere._id %>/join">Join this Sphere</a>
      <% } %>
    </div>
    <p class="mb-4"><%= locals.sphere.description %></p>
    <div class="flex flex-col gap-8">
      <% for (let i = 0; i < locals.sphere.stories.length; i++) { %>
        <div class="flex flex-col gap-2 p-4 shadow-sm bg-white rounded-md">
          <% if (locals.sphere.members.includes(locals.currentUser._id)) { %>
            <div class="flex flex-row items-center justify-between">
              <h3 class="text-lime-600"><%= locals.sphere.stories[i].author.username %></h3>
              <% if (locals.sphere.admins.includes(locals.currentUser._id)) { %>
                <a class="text-red-500 hover:underline" href="/spheres/<%= locals.sphere._id %>/<%= locals.sphere.stories[i]._id %>/delete">Delete the story</a>
              <% } %>
            </div>
          <% } %>
          <h2 class="font-bold"><%= locals.sphere.stories[i].title %></h2>
          <p><%= locals.sphere.stories[i].story %></p>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>